{% extends "layout.html" %}


{% block main %}
<section class="main_content_wrap">
    <div class="about">
        <h3 class="about_title">Who we are</h3>
        <div class="about_text">
            This project was created to help parents from Hamburg to quickly find kids-related activities and
            locations.</br>
            My name is Oksana, I am a mother of two kids - four and two years old. We try to spend our free time
            with
            kids in a way that both parents and kids have fun.
            Therefore the question what we do at the weekend besides numerous hours at the same playgrounds round about
            is very popular in our family. </br>
            This guide is aimed to help parents in Hamburg to shake up their usual routine with the new ideas.
        </div>

    </div>
</section>

{% endblock %}