{% extends "layout.html" %}


{% block main %}
<section class="place_wrap">
    <div class="contact_wrap">
        <div class="contact_message">
            <header>
                <h3>Please feel free to contact me anytime</h3>
            </header>
            <div class="contact_buttons">
                <div class="col-12 col-sm-6 col-md-3 button">
                    <a href="tg://resolve?domain=tinkabel999" target="blank" class="telegram">
                        <img class="media_icon" src="https://i.ibb.co/MZ1rrCZ/telegram.png" alt="telegram icon">
                        <div class="align-self-center label col-8">
                            Telegram
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-3 button">
                    <a href="https://wa.me/+4915206112644" target="blank" class="whatsapp">
                        <img class="media_icon" src="https://i.ibb.co/HnMGhXT/whatsapp.png" alt="whatsapp icon">
                        <div class="align-self-center label col-8">
                            WhatsApp
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-3 button">
                    <a href="https://www.instagram.com/oksana_pashkovska/" target="blank" class="instagram">
                        <img class="media_icon" src="https://i.ibb.co/9tr7JKd/instagram.png" alt="instagram icon">
                        <div class="align-self-center label col-8">
                            Instagram
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-3 button">
                    <a href="mailto:opashkovska85@gmail.com" target="blank" class="gmail">
                        <img class="media_icon" src="https://i.ibb.co/gv9tf5C/gmail.png" alt="gmail icon">
                        <div class="align-self-center label col-8">
                            Gmail
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock %}