{% extends "layout.html" %}


{% block main %}
<section class="main_content_wrap">
    <div class="contact_wrap">
        <div class="contact_message">
            <header>
                <h3 class="contact_title">Please feel free to contact me anytime</h3>
            </header>
            <div class="contact_buttons">
                <div class="col-12 col-sm-6 col-md-3 button">
                    <a href="tg://resolve?domain=tinkabel999" target="blank" class="telegram">
                        <div class="contact_button_content">
                            <img class="media_icon" src="https://i.ibb.co/MZ1rrCZ/telegram.png" alt="telegram icon">
                            <div class="align-self-center label col-8">
                                Telegram
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-3 button">
                    <a href="https://wa.me/+4915206112644" target="blank" class="whatsapp">
                        <div class="contact_button_content">
                            <img class="media_icon" src="https://i.ibb.co/HnMGhXT/whatsapp.png" alt="whatsapp icon">
                            <div class="align-self-center label col-8">
                                WhatsApp
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-3 button">
                    <a href="https://www.instagram.com/oksana_pashkovska/" target="blank" class="instagram">
                        <div class="contact_button_content">
                            <img class="media_icon" src="https://i.ibb.co/9tr7JKd/instagram.png" alt="instagram icon">
                            <div class="align-self-center label col-8">
                                Instagram
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 col-md-3 button">
                    <a href="mailto:opashkovska85@gmail.com" target="blank" class="gmail">
                        <div class="contact_button_content">
                            <img class="media_icon" src="https://i.ibb.co/gv9tf5C/gmail.png" alt="gmail icon">
                            <div class="align-self-center label col-8">
                                Gmail
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% if get_flashed_messages() %}
            <div class="alert alert-success mb-0 py-2 text-center" role="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>
            {% endif %}
            <div class="contact_form">
                <h4 class="contact_title">Or get in touch this way:</h4>

                <div class="row my-3 contact_form">
                    <form action="./contact.html" method="post">
                        <div class="row contact_input_info">
                            <div class="col contact_field">
                                <input type="text" name="name" class="form-control" placeholder="First name"
                                    aria-label="First name">
                            </div>
                            <div class="col contact_field">
                                <input type="text" name="lastName" class="form-control" placeholder="Last name"
                                    aria-label="Last name"
                                    oninvalid="this.setCustomValidity('Enter Your Last Name Here')"
                                    oninput="this.setCustomValidity('')">
                            </div>
                            <div class="col contact_field">
                                <input type="text" name="email" class="form-control" placeholder="Email Address"
                                    aria-label="Email Address"
                                    oninvalid="this.setCustomValidity('Enter Your Email Here')"
                                    oninput="this.setCustomValidity('')">
                            </div>

                        </div>
                        {% if message %}
                        <span style="color: red;">{{ message }}</span>
                        {% endif %}
                        <div class="row contact_message">
                            <textarea class="contact_message_input" name="message" id="" cols="30" rows="10"
                                placeholder="Your message to us"></textarea>
                        </div>
                        <div class="contact_button">
                            <input class="button_submit" type="submit" value="Submit">
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
    </div>
</section>

{% endblock %}