{% extends "layout.html" %}


{% block main %}
<section class="add_wrap">
    {% if get_flashed_messages() %}
    <div class="alert alert-success mb-0 py-2 text-center" role="alert">
        {{ get_flashed_messages() | join(" ") }}
    </div>
    {% endif %}
    {% if message %}
    <span style="color: red;">{{ message }}</span>
    {% endif %}
    <div class="add_form">
        <form action="/img.html" method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <input type="file" class="form-control" name="file[]" multiple="true">
            </div>
            <div class="col-12 add_input">
                <label for="inputName" class="form-label">Location Name</label>
                <input type="text" class="form-control" id="inputName" name="name" placeholder="e.g. Museum of toys"
                    required>
            </div>
            <input type="submit" value="Upload">
        </form>

    </div>

</section>

{% endblock %}